/* Store this code in 'style.css' file inside the 'static' folder*/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.header {
  padding: 5px 120px;
  width: 150px;
  height: 70px;
  background-color: #236b8e;
}

.border {
  padding: 80px 50px;
  width: 400px;
  height: 450px;
  border: 1px solid #236b8e;
  border-radius: 0px;
  background-color: #9ac0cd;
}

.btn {
  padding: 10px 40px;
  background-color: #236b8e;
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
  border-radius: 10px;
}

.textbox {
  padding: 10px 40px;
  background-color: #236b8e;
  color: #ffffff;
  border-radius: 10px;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
  font-style: oblique;
  font-weight: bold;
}

.word {
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
}

.bottom {
  color: #236b8e;
  font-style: oblique;
  font-weight: bold;
}
/* Reset some default margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Set a global font family */
body {
  font-family: "Roboto", sans-serif;
}

/* Section: Design Block */
section {
  padding: 50px 0;
}

/* Jumbotron */
.jumbotron {
  background-color: hsl(0, 0%, 96%);
}

.jumbotron h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.jumbotron p {
  color: hsl(217, 10%, 50.8%);
}

/* Card */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 5rem;
}

/* Form styling */
.form-outline {
  margin-bottom: 2rem;
}

/* Checkbox styling */
.form-check {
  justify-content: center;
  margin-bottom: 2rem;
}

/* Social buttons */
.btn-floating {
  margin: 0 0.5rem;
}

/* Already a member link */
.text-center mt-3 a {
  color: #007bff;
}
.form-outline input::placeholder {
  font-weight: normal; /* or use ' lighter' */
}
/* Default styles */
body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  height: 100vh;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.form-outline {
  width: 100%;
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }

  .col-md-9 {
    display: none; /* Hide the left column on smaller screens */
  }

  .col-md-8 {
    width: 100%;
    margin: 0 auto;
  }

  img.img-fluid {
    max-width: 80%; /* Decrease the image size on smaller screens */
    height: auto;
  }

  .text-center.text-lg-start {
    text-align: center;
  }

  /* Adjust other styles as needed */
  .col-md-9 {
    display: block; /* Make the left column visible on smaller screens */
  }
}
